.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 80%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal-main-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 1rem;
}

.photo-details-modal--close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal--images {
  margin: 0 36px;
  margin-top: 8px;

}

.photo-details-modal--image {
  max-width: 95%;
  height: 600px;
}

.photo-details-modal--top-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal--photographer-details {
  display: flex;
  font-size: 16px;
  align-self: self-start;
  margin-left: 20px;
}

.photo-details-modal--header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin: 24px 36px;
  width: 90%;

}